<h1>Morseovka Kóder</h1>
<div class="formCover">
  <label for="input">Váš text:</label>
  <input type="text" name="input" id="input" placeholder="Zde začněte psát Váš text..." />
  Váš text v morseovce:
  <div id="morseCode"></div>
</div>
<div class="formCover">
  <label for="input2">Váše morseovka, písmena oddělit mezerou, slova dvěmi mezerami:</label>
  <input type="text" name="input2" id="input2" placeholder="Zde začněte psát morseovku..." />
  Váš přeložený text:
  <div id="alfaCode"></div>
</div>
<script src="/js/morseovka.js"></script>